
<div class="ps-dashboard-header">
    {{ title }}
    <div class="ps-dashboard-controls">

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-plus"></i>
                Add Widget
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="widget in widgetDefinitions">
                    <a role="menuitem" ng-click="addNewWidget(widget)">{{widget.title}}</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div gridster="gridsterOpts">
    <ul>
        <li gridster-item="item" ng-repeat="item in widgets">
            <ps-widget-body>
            </ps-widget-body>
        </li>
    </ul>
</div>