<div class="ps-widget-body">
    <div class="ps-widget-menu-area btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" ng-click="iconClicked()" />
        </a>

        <ul class="dropdown-menu" role="menu">
            <li ng-click="close()"><i class="fa fa-2x fa-close" ng-click="iconClicked()" /></li>
            <li ng-click="settings()"><i class="fa fa-2x fa-gear" ng-click="iconClicked()" /></li>
        </ul>
    </div>
</div>