
<div class="ps-title-bar">
    <div class="row">
        <div class="ps-logo-area col-sm-6">
            <img class="ps-icon" ng-src="{{ iconFile }}" />
            <div class="ps-title-area">
                <p class="ps-logo-title">{{ title }}</p>
                <p class="ps-logo-subtitle">{{ subtitle }}</p>
            </div>

            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" 
                 class="ps-collapsed-menu pull-right">
                <button type="button" class="btn ps-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

        </div>

        <div class="ps-right-side-controls col-sm-6">
            <ps-user-profile-small></ps-user-profile-small>
        </div>
    </div>
</div>

<div class="ps-menu-area"
     ng-show="isMenuVisible"
     ng-class="{'ps-menu-area-vertical': isMenuVertical, 'ps-menu-area-horizontal': !isMenuVertical}">
    <ps-user-profile></ps-user-profile>
    <ng-transclude></ng-transclude>
</div>

<div ng-view class="ps-view"
        ng-class="{'ps-view-full-width': !isMenuVertical || !isMenuVisible}">
</div>


